:root {
	--color: #ec6327;
	--lGray: #f4f4f4;
	--mGray: #ebebeb;
	--dGray: #878787;
	--pad: 15px;
	--gradient: linear-gradient(45deg, #d64d11 , #ff793d)
}

@font-face {
	font-family: typeface;
	src: url(typeface.woff2) format(woff2),
		url(typeface.woff) format(woff);
}

body {
	margin: 0;
	font-family: typeface;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 77px;
	background-color: var(--mGray);
	border-bottom: 3px solid var(--color);
}

nav img {
	height: 50px;
}

nav div {
	float: left;
	display: flex;
	height: 100%;
	padding: 0 20px;
	align-items: center;
	text-align: center;
	line-height: 10px;
	font-size: 16px;
}

#container {
	margin: 110px 20% 0;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 30px;
}

#profile {
/*	grid-column: 1;*/
}

#profile img {
	border-radius: 100%;
}

#profile a {
	color: var(--dGray);
}

#content {
/*	grid-column: 2;*/
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 #00000063;
	background-color: var(--lGray);
}
